<div id="fh5co-about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Hello There!</h2>
                <p>I am a Full Stack Developer with over 4 years of experience in creating innovative technological solutions. My versatile approach allows me to work both in front-end and back-end development, using a wide range of technologies such as Angular, React, VueJS, Java, Scala, Python, PHP, Gosu (GuideWire), Data Science, Spring (Boot, Cloud, WebFlux), among others.</p>
                <p>Throughout my career, I have had the opportunity to lead challenging, multidisciplinary projects, meeting tight deadlines and exceeding client expectations. My ability to integrate solutions efficiently and scalably has enabled me to deliver high-impact results.</p>
                <p>What sets me apart is my ability to communicate technical ideas clearly and accessibly, facilitate effective collaboration among diverse teams, and quickly adapt to new environments and technologies. My approach is always results-oriented: I seek innovative solutions that create real value for the projects and organizations I collaborate with.</p>
                <p>My passion for programming and continuous learning drives me to stay up-to-date with the latest technological trends and constantly improve my skills. I am committed to contributing my knowledge and experience to the success of the teams and projects I am part of.</p>
                <p>Always seeking new challenges, my goal is to continue growing professionally and contribute to the development of solutions that make a difference.</p>
            </div>
        </div>
    </div>
</div>