<div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>My Resume</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Work Experience</h3>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Solution Consultant</h3>
                                <span class="company">Sophos Solutions GFT - 2020 - Current</span>
                            </div>
                            <div class="timeline-body">
                                <p> Performance as Solution Consultant, developing software for SURA (Core Sura) with advanced technologies such as Java (8,11,17,22), Spring Framework(WebFlux, Security, Cloud),
                                    GOSU (GuideWire, PolicyCenter, BillingCenter), and Scala.Effective collaboration with multidisciplinary teams in an agile environment using Scrum, ensuring continuous high quality deliveries.
                                    Implementation and management of CI/CD pipelines with tools such as Jenkins and Azure, accelerating the integration and deployment process.
                                    Active participation in code reviews, promoting best practices to ensure clean, maintainable and scalable code. Use of Spring WebFlux and reactive programming to optimize concurrent request handling, improving performance in high load environments. Experience with relational and non-relational databases, such as Oracle and MongoDB, designing efficient data schemas and optimizing queries. Implementation of security systems with OAuth2 and JWT to ensure controlled and secure access to backend applications. Development of unit and integration tests with JUnit and Mockito, ensuring stability and reliability of the code in production.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Software Engineering Analyst</h3>
                                <span class="company">Personal Soft - 2018 - 2020</span>
                            </div>
                            <div class="timeline-body">
                                <p>Software Engineering Analyst with experience in software development for major clients such as Leonisa, SURA, Protección and Bancolombia.
                                    Proficient in Java (7,8,11), GOSU(Guidewire, PolicyCenter, BillingCenter), Scala(PlayFramework), Spring Framework, Angular, VueJS, and Oracle PL/SQL and NoSQL databases.
                                    Specialist in the design and implementation of microservices with Java8, Spring Boot, Scala, and Play Framework to create highly scalable and modular applications.
                                    Experience in asynchronous communication using messaging queues such as RabbitMQ.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Software Developer</h3>
                                <span class="company">Kubbox Company - 2018 - 2018</span>
                            </div>
                            <div class="timeline-body">
                                <p>I participated in the development of custom software projects for the company.
                                    I designed and implemented interactive user interfaces with technologies such as Angular (JS, 4, 6, 6, 8, 15) and JavaScript/TypeScript,
                                    ensuring a smooth and efficient user experience. I continuously improved the code by adopting unit and functional tests with Jest and Karma,
                                    ensuring quality and stability in each delivery. I used SCSS and CSS3 to style interfaces, implementing responsive design to ensure full functionality on mobile and desktop devices.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Software Developer</h3>
                                <span class="company">Politécnico Colombiano Jaime Isaza Cadavid - 2017 - 2017</span>
                            </div>
                            <div class="timeline-body">
                                <p>Optimization and improvement of the university's Integrated Statistical System (SIE),
                                    focused on statistics and academic indicators. Development of new modules to expand the functionality of the existing system,
                                    implementation of PHP solutions to improve the efficiency and performance of the application.</p>
                            </div>
                        </div>
                    </li>

                    <br>
                    <li class="timeline-heading text-center animate-box">
                        <div>
                            <h3>Education</h3>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Systems Engineering</h3>
                                <span class="company">Fundación Universitaria San Jose - 2024 - Current</span>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Systems Technology</h3>
                                <span class="company">Fundación Universitaria San Jose - 2025</span>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Professional Technician in Information Systems Programming</h3>
                                <span class="company">Politécnico Colombiano Jaime Isaza Cadavid - 2017</span>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Graduation</h3>
                                <span class="company">Institución Educativa Rafael Uribe Uribe IERUU - 2013</span>
                            </div>
                            <div class="timeline-body">
                                <p></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>